body {
  background-color: rgb(73, 73, 77);
}

.sansserif {
  font-family: sans-serif;
}

h1 {
  color: Gold;
  text-align: center;
}



p {
  color: black;
  text-align: center;
}


}

